body {
    color: rgba(0,0,0,.5);
    text-align: center;
    top: 15%;
    font-family: 'Montserrat', sans-serif;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 100%;
    padding-bottom: 5%;
    background: rgba(192, 192, 192, 0.1);
}

h1 {
    font: 4.5vw 'Montserrat', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    padding-left: 2%;
}

h2 {
    margin-top: 5.5%;
    font: 2em 'Podkova', serif;
    letter-spacing: .35em;
}

h3 {
    font: 900 1em 'Montserrat', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    cursor: pointer;
}

h3:active {
    color: rgba(0,0,0,.3);
}

i {
    font-size: .8em;
}

#btnRandom {
    border: none;
    border-radius: 15px;
    padding: 0.5% 1.5% 0.8% 1.6%;
    background: rgba(204, 204, 204, 0.2);
    color: rgba(0,0,0,.5);
    font: 0.8em 'Montserrat', sans-serif;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0.1em;
}

#btnRandom:hover {
    background: rgba(204, 204, 204, 0.4);
}

#btnRandom:focus {
    outline: 0;
}